[run]
omit = .venv/*, core/migrations/*, webapp/migrations/*, api/migratios/*, api/apps.py, webapp/apps.py, core/apps.py, workTimer/wsgi.py

[report]
show_missing = true
omit = .venv/*, core/migrations/*