[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
djangorestframework = "*"
gunicorn = "*"
psycopg2-binary = "*"
requests = "*"
django-heroku = "*"
django-rest-auth = "*"

[dev-packages]
coverage = "*"
factory-boy = "*"
flake8 = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
openpyxl = "*"
django-debug-toolbar = "*"
pylint = "*"
"autopep8" = "*"

[requires]
python_version = "3.6"
