{% extends 'webapp/base.html' %}
{% block content %} 
{% include "webapp/navbar.html" %}
<div class="card card-detail">
    <div class="card-header">
        {{project.project_name}}
    </div>
    <div class="card-body">
        <p class="card-text">{{project.description}}</p>
        <br>
        <a href="{% url 'project_edit' pk=project.pk %}" class="btn btn-info">Editar</a>
        <a href="{% url 'project_remove' pk=project.pk %}" class="btn btn-light">Borrar</a>
    </div>
    <div class="card-header">
        Estadisticas
    </div>
</div>
{% endblock %}