 {% extends 'webapp/base.html' %} {% load staticfiles %} {% block content %} {% include "webapp/navbar.html" %}


<div class="container">
    <h2>Nuevo Proyecto</h2>
    <form method="POST" id="project" class="newProject">
        {% csrf_token %}
        <!-- {% include 'forms/selectBootstrap.html' with field=form.user %} -->
        {{form}}
        <button type="submit" id="btn-save" class="btn btn-default">GUARDAR</button>
</div>
<script src="{% static 'js/new_project.js' %}"></script> {% endblock %}